html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
}

/* ESTILOS NAV BAR*/
.container{
  display: flex;
  gap: 60px;
}
.ul2{
  display: grid;
  grid-template-columns: 1030px ;
  grid-template-rows: 50px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
  cursor: pointer;
}
.logo:hover{
  color: lightblue;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}


.listings {
  padding: 20px;
  text-align: center;
}
.listing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.listing-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.listing-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.listing-card h3 {
  margin: 10px;
  font-size: 20px;
}
.listing-card p {
  margin: 10px;
  color: #555;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ff5a5f;
  color: white;
  margin-bottom: 20px;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  margin-left: 20px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}

.containerUsuario{
  display: flex;
  gap: 50px;
}
.registerHosting{
  margin-top: 7px;
}
/* ESTILOS POPUP */
/* From Uiverse.io by Galahhad */ 
/* The design is inspired from the mockapi.io */
.popup {
  --burger-line-width: 1.125em;
  --burger-line-height: 0.125em;
  --burger-offset: 0.625em;
  --burger-bg: rgb(248, 248, 248);
  --burger-color: #000000;
  --burger-line-border-radius: 0.1875em;
  --burger-diameter: 2.125em;
  --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
  --burger-line-transition: .3s;
  --burger-transition: all .1s ease-in-out;
  --burger-hover-scale: 1.1;
  --burger-active-scale: .95;
  --burger-enable-outline-color: var(--burger-bg);
  --burger-enable-outline-width: 0.125em;
  --burger-enable-outline-offset: var(--burger-enable-outline-width);
  /* nav */
  --nav-padding-x: 0.25em;
  --nav-padding-y: 0.625em;
  --nav-border-radius: 0.375em;
  --nav-border-color: #ccc;
  --nav-border-width: 0.0625em;
  --nav-shadow-color: rgba(0, 0, 0, .2);
  --nav-shadow-width: 0 1px 5px;
  --nav-bg: rgb(248, 248, 248);
  --nav-default-scale: .8;
  --nav-active-scale: 1;
  --nav-position-left: unset;
  --nav-position-right: 0;
  /* if you want to change sides just switch one property */
  /* from properties to "unset" and the other to 0 */
  /* title */
  --nav-title-size: 1em;
  --nav-title-color: #000000;
  --nav-title-padding-x: 1.5rem;
  --nav-title-padding-y: 0.25em;
  /* nav button */
  --nav-button-padding-x: 1.6rem;
  --nav-button-padding-y: 0.6em;
  --nav-button-border-radius: 0.375em;
  --nav-button-font-size: 15px;
  --nav-button-hover-bg: #c0c0c0;
  --nav-button-hover-text-color: #000000;
  --nav-button-distance: 0.875em;
  /* underline */
  --underline-border-width: 0.0625em;
  --underline-border-color: #ccc;
  --underline-margin-y: 0.3125em;
}
/* popup settings 👆 */
.popup {
  display: inline-block;
  text-rendering: optimizeLegibility;
  position: relative;
}
.popup input {
  display: none;
}
.burger {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--burger-bg);
  width: var(--burger-diameter);
  height: var(--burger-diameter);
  border-radius: var(--burger-btn-border-radius);
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: var(--burger-transition);
  outline: var(--burger-enable-outline-width) solid transparent;
  outline-offset: 0;
}
.burger span {
  height: var(--burger-line-height);
  width: var(--burger-line-width);
  background: var(--burger-color);
  border-radius: var(--burger-line-border-radius);
  position: absolute;
  transition: var(--burger-line-transition);
}
.burger span:nth-child(1) {
  top: var(--burger-offset);
}
.burger span:nth-child(2) {
  bottom: var(--burger-offset);
}
.burger span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
}
.popup-window {
  transform: scale(var(--nav-default-scale));
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: var(--nav-padding-y) var(--nav-padding-x);
  background: var(--nav-bg);
  font-family: var(--nav-font-family);
  color: var(--nav-text-color);
  border-radius: var(--nav-border-radius);
  box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
  border: var(--nav-border-width) solid var(--nav-border-color);
  top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
  left: var(--nav-position-left);
  right: var(--nav-position-right);
  transition: var(--burger-transition);
}
.popup-window legend {
  padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
  margin: 0;
  color: var(--nav-title-color);
  font-size: var(--nav-title-size);
  text-transform: uppercase;
}
.popup-window ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.popup-window ul button {
  outline: none;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: var(--burger-color);
  font-size: var(--nav-button-font-size);
  padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
  white-space: nowrap;
  border-radius: var(--nav-button-border-radius);
  cursor: pointer;
  column-gap: var(--nav-button-distance);
}
.popup-window hr {
  margin: var(--underline-margin-y) 0;
  border: none;
  border-bottom: var(--underline-border-width) solid var(--underline-border-color);
}
/* actions */
.popup-window ul button:hover,
.popup-window ul button:focus-visible,
.popup-window ul button:hover svg,
.popup-window ul button:focus-visible svg {
  color: var(--nav-button-hover-text-color);
  background: var(--nav-button-hover-bg);
}
.burger:hover {
  transform: scale(var(--burger-hover-scale));
}
.burger:active {
  transform: scale(var(--burger-active-scale));
}
.burger:focus:not(:hover) {
  outline-color: var(--burger-enable-outline-color);
  outline-offset: var(--burger-enable-outline-offset);
}
.popup input:checked+.burger span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.popup input:checked+.burger span:nth-child(2) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
.popup input:checked+.burger span:nth-child(3) {
  transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
}
.popup input:checked~nav {
  transform: scale(var(--nav-active-scale));
  visibility: visible;
  opacity: 1;
}
.popup-list{
  display: inline-block;
}


/* ESTILOS LOGIN-REGISTER */
.contenedor_todo{
  width: 800px;
  height: 450px;
  margin: auto;
  position: relative;
  padding-top: 60px;
}
.caja_trasera{
  width: 800px;
  height: 450px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: #ff585e;
  border-radius: 20px;
}
.caja_trasera div{
  margin: 100px 40px;
  color: rgb(0, 0, 0);
  transition: all 500ms;
}
.caja_trasera div p,
.caja_trasera div button{
  margin-top: 30px;
}
.caja_trasera h3{
  font-weight: 400;
  font-size: 26px;
}
.caja_trasera button{
  padding: 10px 40px;
  border: 2px solid #000000;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(0, 0, 0);
  outline: none;
  transition: all 300ms;
}
.caja_trasera button:hover{
  background: #fff;
  color: #46A2FD;
}
.contenedor_login-register{
  display: flex;
  height: 350px;
  align-items: center;
  max-width: 380px;
  position: relative;
  top: -400px;
  left: 10px;

  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.contenedor_login-register form{
  width: 100%;
  padding: 80px 30px;
  background: #fff;
  position: absolute;
  border-radius: 20px;
}
.contenedor_login-register form h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}
.contenedor_login-register form input{
  width: 100%;
  margin-top: 25px;
  padding: 18px;
  border: none;
  background: #f2f2f2;
  color: black;
  font-size: 16px;
  outline: none;
}
.contenedor_login-register form button{
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #46A2FD;
  color: white;
  cursor: pointer;
  outline: none;
}
.formulario_login{
opacity: 1;
display: block;
}
.formulario_register{
  display: none;
}
@media screen and (max-width:850px){
  main{
      margin-top: 50px;
  }
  .caja_trasera{
      max-width: 350px;
      height: 300px;
      flex-direction: column;
      margin: auto;
  }
  .caja_trasera div{
      margin: 0px;
      position: absolute;
  }
  .contenedor_login-register{
      top: -10px;
      left: -5px;
      margin: auto;
  }
  .contenedor_login-register form{
      position: relative;
  }
}

/* ESTILOS EXPERIENCIAS */
.experiences, .online-experiences, .featured-destinations {
  padding: 20px;
  text-align: center;
}
.experience-container, .online-experience-container, .destination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.experience-item, .online-experience-item, .destination-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.experience-item:hover, .online-experience-item:hover, .destination-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.listing-container{
  display: flex;
  gap: 100px;
}

/* ESTILOS FILTER */
.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
  border-radius: 50px;
}
.filter-item {
  display: flex;
  flex-direction: column;
}
.filter-item label {
  margin-bottom: 5px;
  font-weight: bold;
}
.filter-item input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color:#f8f8f8;
  color:#000000
} 
.filter-item input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Toca invertir color para que el ícono de calendario sea negro, porque el original es blanco */
}
/* From Uiverse.io by OnlyCodeChannel */
.filter button {
  color: white;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--gradient-2, linear-gradient(90deg, #f3cfcf 0%, #fd0000 100%));
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  cursor: pointer;
}
/*hover effect*/
button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}


/* ESTILOS RESGISTER_HOSTING */
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  position: relative;
  left: 100px;
}
.title {
  font-size: 28px;
  color: #ff585e;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #ff585e;
}
.title::before {
  width: 18px;
  height: 18px;
  background-color: #ff585e;
}
.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}
.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}
.signin {
  text-align: center;
}
.signin a {
  color: #ff585e;
}
.signin a:hover {
  text-decoration: underline #ff585e;
}
.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}
.form label {
  position: relative;
}
.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background: #f2f2f2;
  color: black;
}
.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: rgb(0, 0, 0);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}
.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}
.form label .input:valid + span {
  color: rgb(0, 0, 0);
}
.submit {
  border: none;
  outline: none;
  background-color: #ff585e;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}
.submit:hover {
  background-color: #ff585e(56, 90, 194);
}
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}


/* Body reserva */
.container2 {
  display: grid;
  grid-template-columns: auto;
  gap: 1px;
  margin-left: 300px;
}
hr {
  height: 1px;
  background-color: #E5C7C5;
  border: none;
}
.card {
  width: 800px;
  background: #F4E2DE;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.title2 {
  font-size: 28px;
  color: #ff585e;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.title2::before,.title2::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 20px;
  background-color: #ff585e;
}
.title2::before {
  width: 18px;
  height: 18px;
  background-color: #ff585e;
}
.title2::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}
/* Cart */
.cart {
  border-radius: 19px 19px 0px 0px;
}
.cart .steps {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.cart .steps .step {
  display: grid;
  gap: 10px;
}
.cart .steps .step span {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 8px;
  display: block;
}
.cart .steps .step p {
  font-size: 11px;
  font-weight: 600;
  color: #000000;
}
.input_field {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #E5C7C5;
  background-color: #F4E2DE;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  color: black;
}
.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #F3D2C9;
  background-color: #F4E2DE;
}
/* Checkout */
.payments .details {
  display: grid;
  grid-template-columns: 10fr 1fr;
  padding: 0px;
  gap: 5px;
}
.payments .details span:nth-child(odd) {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  margin: auto auto auto 0;
}
.payments .details span:nth-child(even) {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  margin: auto 0 auto auto;
}
.checkout .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: #ECC2C0;
}
.price {
  position: relative;
  font-size: 22px;
  color: #2B2B2F;
  font-weight: 900;
}
.checkout .checkout-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 36px;
  background: #F3D2C9;
  box-shadow: 0px 0.5px 0.5px #E5C7C5, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 7px;
  border: 1px solid #ECC2C0;
  color: #000000;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}


/* ESTILOS LISTING DETAILS */
.listing-details {
  padding: 20px;
  text-align: center;
}
.listing-details img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.listing-details h2 {
  margin: 10px;
  font-size: 24px;
}
.listing-details p {
  margin: 10px;
  color: #555;
}
.reserve-button {
  padding: 10px 20px;
  background-color: #ff5a5f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.reserve-button:hover {
  background-color: #e04e4e;
}
.listing-id {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}